.app {
  padding: 16px;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  width: 220px;
}

.product-image {
  width: 100%;
  height: auto;
}